#logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#searchbar{

    margin: auto;
    height: 40px;
    width: 500px;
    margin-top: 30px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    
}

p {
    text-align: center;
}


/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
     
}
 
 #logo {
     grid-column-start: 1;
     grid-column-end: 2;
 }

img {
    display: block;
}

.searchbar {

} */

