#logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
    text-align: center;
}


/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
     
}
 
 #logo {
     grid-column-start: 1;
     grid-column-end: 2;
 }

img {
    display: block;
}

.searchbar {

} */

